<div class="navbar navbar-info navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/" class="home-link">{{brandname}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse main-navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown active main-menu-dd">
                <a href="#/" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="toggle-text">Joint Venture</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/jointventure">Joint Venture</a></li>
                    <li><a href="#/">Rent - Coming Soon</a></li>
                    <li><a href="#/">Buy  - Coming Soon</a></li>
                    <li><a href="#/sell">Sell</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li>
                            <a href="#"> Sell / Rent Property  </a>
                        </li>
                         -->
            <li>
                <a href="javascript:void();" data-toggle="modal" data-target="#modalLogin"> Login </a>
            </li>
            <li class="dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#top">Home</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
