<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Joint Venture 2015 is the perfect place for finding your next home!</h2>
                <p class="lead">This application features some wonderful locations</a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Our Brand Story</h1>
    </div>
</aside>
