<md-toolbar layout="row">
    <div class="md-toolbar-tools" layout="row">
        <md-button ng-click="fn_toggle_sidenav('left')" hide-gt-sm class="md-icon-button">
            <md-icon aria-label="Menu" md-svg-icon="menu"></md-icon>
        </md-button>
        <a ui-sref="home" class="col left s12 brand-logo"></a>
        <div layout="row" layout-align="start center" flex="10" hide-sm>
            <md-menu>
                <md-button flex="5" aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <span>Joint Venture</span>
                    <md-icon md-svg-icon="expand-more"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('jointventure')">
                            <md-icon md-svg-icon="home" md-menu-align-target></md-icon>
                            Buy
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('sell')">
                            <md-icon md-svg-icon="explore"></md-icon>
                            Sell
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="fn_goToState('sell')">
                            <md-icon md-svg-icon="room"></md-icon>
                            Rent
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','about')">
                            <md-icon md-svg-icon="communication:contacts"></md-icon>
                            About
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <span flex></span>
        <div layout="row" layout-align="end center" hide-sm>
            <md-button aria-label="login menu" ng-click="fn_show_login_dialog($event)" ng-class="{'show':!appWideScope.user_session_data.is_logged_in,'hide':appWideScope.user_session_data.is_logged_in}">
                <md-icon md-svg-icon="communication:vpn-key"></md-icon>
                <span>Login</span>
            </md-button>
            <md-menu ng-class="{'show':appWideScope.user_session_data.is_logged_in,'hide':!appWideScope.user_session_data.is_logged_in}">
                <md-button aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <md-icon md-svg-icon="face"></md-icon>
                    <span>{{appWideScope.user_session_data.user_data.first_name}}</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="favorite" md-menu-align-target></md-icon>
                            Shortlisted
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="phone"></md-icon>
                            Contacted
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="notifications"></md-icon>
                            Alert
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="account-box"></md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_logoutUser()">
                            <md-icon md-svg-icon="exit-to-app"></md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <md-icon md-svg-icon="editor:format-list-numbered"></md-icon>
                    <span>Quick Links</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('home')">
                            <md-icon md-svg-icon="home"></md-icon>
                            Home
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','about')">
                            <md-icon md-svg-icon="communication:contacts"></md-icon>
                            About
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','contact')">
                            <md-icon md-svg-icon="communication:email"></md-icon>
                            Contact Us
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-primary-z2" md-component-id="left">
        <div layout="column" layout-align="start center" flex="10">
            <md-menu>
                <md-button flex="5" aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <span>Joint Venture</span>
                    <md-icon md-svg-icon="expand-more" md-menu-align-target></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('jointventure')">
                            <md-icon md-svg-icon="home" md-menu-align-target></md-icon>
                            Buy
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('sell')">
                            <md-icon md-svg-icon="explore"></md-icon>
                            Sell
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="fn_goToState('sell')">
                            <md-icon md-svg-icon="room"></md-icon>
                            Rent
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','about')">
                            <md-icon md-svg-icon="communication:contacts"></md-icon>
                            About
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div layout="column" layout-align="start center">
            <md-button aria-label="login menu" ng-click="fn_show_login_dialog($event)" ng-class="{'show':!appWideScope.user_session_data.is_logged_in,'hide':appWideScope.user_session_data.is_logged_in}">
                <md-icon md-svg-icon="communication:vpn-key"></md-icon>
                <span>Login</span>
            </md-button>
            <md-menu ng-class="{'show':appWideScope.user_session_data.is_logged_in,'hide':!appWideScope.user_session_data.is_logged_in}">
                <md-button aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <span>{{appWideScope.user_session_data.user_data.first_name}}</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="favorite" md-menu-align-target></md-icon>
                            Shortlisted
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="phone"></md-icon>
                            Contacted
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="notifications"></md-icon>
                            Alert
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','top')">
                            <md-icon md-svg-icon="account-box"></md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_logoutUser()">
                            <md-icon md-svg-icon="exit-to-app"></md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <md-button aria-label="Open interactions menu" ng-click="fn_open_menu($mdOpenMenu, $event)">
                    <md-icon md-svg-icon="editor:format-list-numbered"></md-icon>
                    <span>Quick Links</span>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('home')">
                             <md-icon md-svg-icon="home"></md-icon>
                            Home
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="fn_goToState('','about')">
                            <md-icon md-svg-icon="communication:contacts"></md-icon>
                            About
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="fn_goToState('','contact')">
                            <md-icon md-svg-icon="communication:email"></md-icon>
                            Contact Us
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
</div>
</md-sidenav>
</div>
