<div class="navbar main-navigation navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/" class="home-link">{{brandname}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse main-navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown main-menu-dd btn-material-indigo">
                <a href="javascript:void(0);" class="" data-target="#" class="dropdown-toggle" data-toggle="dropdown"><span class="toggle-text">Joint Venture</span> <b class="fa fa-chevron-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="jointventure">Joint Venture</a></li>
                    <li><a href="#">Rent - Coming Soon</a></li>
                    <li><a href="#">Buy  - Coming Soon</a></li>
                    <li><a ui-sref="sell">Sell</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li>
                            <a href="#"> Sell / Rent Property  </a>
                        </li>
                         -->
            <li>
                <a href="javascript:void();" data-toggle="modal" data-target="#modalLogin "> 
                <span class="user-profile-pic"></span>Login </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <b class="fa fa-chevron-down"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="home ">Home</a>
                    </li>
                    <li>
                        <a href="#/?scrollTo=services ">Services</a>
                    </li>
                    <li>
                        <a href="#/?scrollTo=portfolio ">Portfolio</a>
                    </li>
                    <li class="divider "></li>
                    <li>
                        <a href="#/?scrollTo=about ">About</a>
                    </li>
                    <li>
                        <a href="#/?scrollTo=contact ">Contact</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
