<div class="">
    <div class="row vertical-center">
        <div class="col s12 content-bg-layer">
            <div class="col s12 center">
                <h4 class="text-white"> Search for Ventures </h4>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs">
                                <li class="tab col s6 m3 l1"><a href="#tabAgriculture">Agriculture</a></li>
                                <li class="tab col s6 m3 l1"><a class="active" href="#tabCommercial">Commercial</a></li>
                            </ul>
                        </div>
                        <div id="tabAgriculture" class="col s12 white">
                            <div class="row">
                            <form action="#">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6 m3">
                                            <input id="searchcity" name="searchcity" type="text" class="validate">
                                            <label for="icon_prefix" class="active">Search city</label>
                                        </div>
                                        <div class="input-field col s6 m3">
                                            <a href="javascript:void(0);" data-beloworigin="true" data-activates="dropdown-property-type" class="dropdown-button-custom" data-constrainwidth="false"><span class="toggle-text">Property Type</span>  <b class="fa fa-chevron-down"></b></a>
                                            <ul class="dropdown-content-custom" id="dropdown-property-type">
                                                <li>Residential</li>
                                                <li class="divider"></li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col s6">
                                                            <div class="input-field">
                                                                <input type="checkbox" id="checkboxFlat" class="form-control" name="prop-type" value="flat">
                                                                <label for="checkboxFlat">Flat</label>
                                                            </div>
                                                        </div>
                                                        <div class="col s6">
                                                            <div class="input-field">
                                                                <input type="checkbox" class="form-control" name="prop-type" id="checkboxHoue" value="house">
                                                                <label for="checkboxHoue">House / Villa</label>
                                                            </div>
                                                        </div>
                                                        <div class="col s6">
                                                            <div class="input-field">
                                                                <input type="checkbox" class="form-control" name="prop-type" id="checkboxPlot" value="plot">
                                                                <label for="checkboxPlot">Plot</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </li>
                                                <li>Commercial</li>
                                                <li class="divider"></li>
                                            </ul>
                                        </div>
                                        <div class="input-field col s6 m3">
                                            <select id="property_value" class="validate">
                                                <option value="10">0 to 10 Lakh</option>
                                                <option value="20">0 to 20 Lakh</option>
                                                <option value="30">0 to 30 Lakh</option>
                                            </select>
                                            <label for="icon_telephone">Value</label>
                                        </div>
                                        <div class="input-field col s6 m2">
                                            <button class="btn btn-primary waves-effect">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="tabCommercial" class="col s12">
                            In progress
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
