<div class="container">
    <div class="row">
        <div class="col s12 text-center">
            <h4><strong>Joint Venture 2015</strong>
                    </h4>
            <p>Office Location to be decided
                <br>Bangalore / Pune, India</p>
            <ul class="list-unstyled">
                <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:teamelite.next@gmail.com">jointventure.next@gmail.com</a>
                </li>
            </ul>
            <br>
            <ul class="list-inline social-plugins">
                <li class="col s3 m4 l1">
                    <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li class="col s3 m4 l1">
                <li class="col s3 m4 l1">
                    <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="valign-wrapper">
            <div class="valign">
                <span class="text-muted">Copyright &copy; Joint Venture-Next 2015</span>
            </div>
        </div>
    </div>
</div>
