<!-- Modal -->
<div class="modal" id="modalLogin">
    <div class="modal-content">
        <div class="row modal-header">
            <div class="row mb0">
                <div class="col s9">
                    <h4 class="modal-title" id="myModalLabel">{{modelLoginForm.fn_getModalHeaderText()}}</h4>
                </div>
                <button class="hide btn-flat modal-close right">X</button>
            </div>
        </div>
        <div class="modal-body">
            <ul class="tabs hide">
                <li class="tab col s3"><a class="active" href="#tabLoginForm">Login</a></li>
                <li class="tab col s3"><a href="#tabForgotPassword">Forgot Password</a></li>
            </ul>
            <div class="tab-content">
                <div class="active" id="tabLoginForm">
                    <form novalidate name="loginForm" action="/api/logincheck" class="form-horizontal login-form">
                        <div class="">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="username" ng-model="modelLoginForm.username" class="validate" ng-class="{'invalid':loginForm.username.$error.required && !loginForm.username.$pristine}" required>
                                    <label for="username" data-error="Please enter Username" ng-class="{'active':modelLoginForm.username.length}" class="col s12 pad-left-0"> Username </label>
                                </div>
                            </div>
                            <div class="row mb0">
                                <div class="input-field col s12">
                                    <input type="password" ng-class="{'invalid':loginForm.password.$error.required && !loginForm.password.$pristine}" name="password" ng-model="modelLoginForm.password" class="validate" required>
                                    <label for="password" class="col s12 ml0 pad-left-0" data-error="Please enter password">Password</label>
                                </div>
                            </div>
                            <div class="row mt2" ng-class="{'show':!modelLoginForm.is_valid,'hide':modelLoginForm.is_valid}">
                                <div class="input-field col s12 has-error">
                                    <span for="Error" class="red-text" style="text-align:left;">Sorry, we did not recognize the details you entered. Please try again.</span>
                                </div>
                            </div>
                            <div class="row mb0">
                                <div class="input-feild col s12">
                                    <a href="#!" class="link-forgot-password">Forgot Password!</a>
                                    <label for="signup" class=""></label>
                                </div>
                            </div>
                            <div class="row mb0">
                                <div class="input-field col s12">
                                    <div class="col s4 pad-left-0">
                                        <span for="signup" class="">Don't have Username? </span>
                                    </div>
                                    <div class="col s6">
                                        <a ui-sref="signup" class="link-singnup modal-close">Sign up</a></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col s6">
                                <button type="button" ng-click="resetForm()" class="modal-action modal-close waves-effect waves-red btn red btn-brand-dismiss">Cancel</button>
                            </div>
                            <div class="col s6">
                                <button type="button" ng-click="fn_loginUser(modelLoginForm)" ng-disabled="!loginForm.$valid" class="modal-action waves-effect waves-green btn indigo login-button left">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tabForgotPassword">
                    <form novalidate name="formForgotPassword" action="/api/forgotPassword" class="form-horizontal form-forgot-password">
                        <div class="input-field col s6" ng-class="{'has-error':formForgotPassword.username.$error.required && !formForgotPassword.username.$pristine}">
                            <label for="username" ng-class="{'active':modelLoginForm.username.length}">Username</label>
                            <input type="text" name="username" ng-model="modelLoginForm.username" required>
                        </div>
                        <div class="input-field col s6" ng-if="formLoginPassword.$submitted">
                            <span class="">Reset Password link sent to Email</span>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col s6">
                                    <button type="button" href="#!" class="btn btn-back">Back</button>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <button type="button" ng-click="fn_resetPassword(user)" ng-disabled="!formForgotPassword.$valid" class="btn indigo login-button">Get Password</button>
                                    </div>
                                </div>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
