<div class="row vertical-center">
    <div class="col s12">
        <form name="formUserSignup" novalidate>
            <fieldset>
                <h2>New User Registration</h2>
                <hr>
                <div class="col s12">
                    <div class="row">
                        <div class="col s3 input-field">
                            <label for="userType" class="col-sm-2 control-label">User Type</label>
                        </div>
                        <div class="col s8">
                            <div ng-repeat="usertype in usertypes" class="radio-user-types">
                                <input type="radio" name="userTypeRadios" id="userTypeRadios{{usertype.id}}" value="{{usertype.id}}">
                                <label for="userTypeRadios{{usertype.id}}"> {{usertype.usertype_label}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" name="fname" class="" id="textLName">
                            <label for="fullName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" name="lname" class="" id="textFName">
                            <label for="fullName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" ng-class="{'has-error':signupUser.valid===false}">
                            <input type="email" name="email" class="" id="inputEmail" ng-model="emailmodel.emailmodel">
                            <label for="inputEmail" class="">Email</label>
                            <p class="help-block" ng-show="signupUser.valid===false"> Email ID address exists. Please use anothe email</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="password" class="form-control" id="inputPassword">
                            <label for="inputPassword" class="">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="checkbox" name="showpassword" class="form-control" id="showPassword">
                            <label for="showPassword" class="">Show Password</label>
                        </div>
                        <div class="input-field col s12 field-confirm-password">
                            <input type="password" name="confirmpassword" class="form-control" id="inputConfirmPassword">
                            <label for="inputConfirmPassword" class="">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select class="" id="selectCity" name="city">
                                <option>Bangalore</option>
                                <option>Pune</option>
                                <option>Hyderabad</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                            </select>
                            <label>City</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- model :{{signupUser.emailmodel}} -->
                        <div class="col s3 input-field">
                            <div class="valign-wrapper" >
                                <div class="valign">
                                    <label for="captcha" class="">Catcha</label>
                                </div>
                            </div>
                        </div>
                        <div class="col s8">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <div class="g-recaptcha col-sm-9" data-sitekey="6LdQ_QsTAAAAAM8IyCCqBrm8LMQVYkcZzZ0mQe_q"></div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                        </div>
                        <div class="col s6">
                            <button ng-click="signupNewUser(formUserSignup)" class="btn btn-primary btn-sm">Register Now!</button>
                        </div>
                    </div>
            </fieldset>
        </form>
        </div>
    </div>
