<div class="container-fluid">
    <div class="row vertical-center">
        <div class="col-xs-10 col-xs-offset-1">
            <form class="form-horizontal" novalidate>
                <fieldset>
                    <h2>New User Registration</h2>
                    <hr>
                    <div class="form-group">
                        <label for="userType" class="col-sm-2 control-label">User Type</label>
                        <div class="radio radio-primary col-sm-9">
                            <label ng-repeat="usertype in usertypes">
                                <input type="radio" name="userTypeRadios" id="userTypeRadios" value="{{usertype.usertype}}"> {{usertype.usertype_label}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullName" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="textFullName" placeholder="Your Full Name">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error':signupUser.valid===false}">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                             <p class="help-block" ng-show="signupUser.valid===false"> Email ID address exists. Please use anothe email</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="selectCity">
                                <option>Bangalore</option>
                                <option>Pune</option>
                                <option>Hyderabad</option>
                                <option>Pune</option>
                                <option>Mumbai</option>
                            </select>
                        </div>
                    </div>
                    <!-- model :{{signupUser.emailmodel}} -->
                    <div class="form-group">
                        <label for="captcha" class="col-sm-2 control-label">Catcha</label>
                        <img id="captcha" src="/captcha" alt="CAPTCHA Image" />
                        <a href="#" onclick="document.getElementById('captcha').src = '/captcha?' + Math.random(); return false" class="btn btn-site-brand btn-sm">Show a Different Image</a>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="captcha_code" id="captcha_code" placeholder="For security, please enter the code displayed in the box." />
                            <span class="help-block" style="display: none;">Please enter the code displayed within the image.</span>
                            <label class="col-sm-2"></label>
                            <span class="help-block" style="display: none;">Please enter a the security code.</span>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-4">
                                <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                                <button type="submit" class="btn btn-primary btn-sm">Register Now!</button>
                            </div>
                        </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
