/**
* @description: the less file for sitewide common
*/
.page-view > header{
	padding-top: 110px;
}

.btn-site-brand{
	background-color: @indigo;
	color: rgba(255, 255, 255, 0.84);
	&.btn{
		background-color: @indigo !important;
		color: rgba(255, 255, 255, 0.84) !important;
	}
}


.multiselect-container.dropdown-menu {
    li {
    	a{
    		background-color:#fff !important;
    		color: initial !important;
    	}
        a:focus,
        a:hover {
        	color: initial !important;
        }
    }
}
