/**
* @description: the less file for Footer section
*/
/* Footer */
footer.main-footer {
  background-color: #000;
  color: #fff;
  padding: 100px 0;
}
footer.main-footer .social-plugins a {
  color: #fff;
}
