/**
* @description: the less file for Footer section
*/
/* Footer */
footer.main-footer {
  background-color: #000;
  color: #fff;
}
footer.main-footer.mt0 {
  margin-top: 0px;
}
footer.main-footer .social-plugins a {
  color: #fff;
}
