/**
* @description: the less file with navigation main styles
*/
.main-navigation .navbar-nav > li > a {
  text-transform: uppercase;
}
.main-navbar-responsive-collapse .user-profile-pic {
  background: url(../img/default-user.png) no-repeat;
  background-size: 20px 20px;
  height: 30px;
  background-position-y: 0px;
}
.navigation-main .navbar {
  background-color: rgba(0, 0, 0, 0.1);
  color: #D48;
  font-weight: bold;
}
@media (max-width: 768px) {
  .navbar-responsive-collapse {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
