/**
* @description: the less file for signup section
*/
.header-signup {
  background-image: url('/assets/img/bg-signup.jpg'), url('/assets/img/bg-signup.jpg');
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: 67% 100%;
  background-attachment: fixed;
}
.header-signup form.form-horizontal {
  background: #fff;
}
.radio-user-types label {
  padding-left: 28px !important;
}
md-icon.show-password-icon:focus {
  outline-color: transparent;
}
