.header-jointventure {
  background: url(../img/bg-jv2.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  padding-top: 50px;
}
.header-jointventure .content-bg-layer h1 {
  color: #efc;
}
.header-jointventure .form-control {
  height: 40px;
}
.header-jointventure select + div > .multiselect-container.dropdown-menu {
  width: 100%;
}
.bg-img-jointventure {
  /*background: url(../img/jointVenture.jpg) no-repeat center center fixed;*/
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100% 100%;
}
.jv-plot,
.jv-land {
  background-image: url(../img/venture-bg.jpg);
  background-size: 200%;
  background-repeat: no-repeat;
}
.jv-land {
  background-position: 100% 0;
}
.nav-pills-jv li a {
  background-color: #47a7f4;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.nav-pills-jv li:hover a,
.nav-pills-jv li.active a,
.nav-pills-jv li.active a:focus,
.nav-pills-jv li.active:focus a {
  color: #47a7f4;
  background-color: #fff;
}
.panel-joint-venture-search {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
