/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  background: url(../img/white.png) no-repeat center center fixed;
  background-position-y: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header-home {
  background: url(../img/bg-home.jpg) no-repeat center center fixed;
  background-position-y: 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.home-options .home-options-row {
  background-color: rgba(0, 0, 0, 0.3);
}
.home-options .service-item {
  margin-top: 40px;
}
