/* About */
.about {
  padding: 50px 0;
}
/* Callout */
.callout {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background: url(../img/callout.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* Call to Action */
.call-to-action {
  padding: 50px 0;
}
.call-to-action .btn {
  margin: 10px;
}
