/**
* @description: the less file with navigation main styles
*/
.navigation-main {
	width: 100%;
	.brand-logo {
		position: relative;
	}
}

.main-navbar-responsive-collapse .user-profile-pic {
    background: url(../img/default-user.png) no-repeat;
    background-size: 20px 20px;
    height: 30px;
    background-position-y: 0px;
}

.navigation-main .navbar{
	background-color:rgba(0,0,0,0.9);
	font-weight:bold;
}

.navigation-main nav .brand-logo{
	width:75px;
	height:65px;
	background: url('../img/logo2.png');
	background-repeat: no-repeat;
	background-size: 75px 75px;
}